$color-primary: #610D7F;
$color-secondary: #0BCB7A;
$color-tertiary: #CB280B; 

// Text
$color-white: #f7f7f7;
$color-grey-dark: #333;
$color-off-white: #f7f7f7;

// Default Font Size
$default-font-size: 1.6rem;